.Header {
  background-color: #333333;
  text-align: center;
  color: #ffecdf;
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
}
h1 {
  font-family: "Ubuntu", sans-serif;
}
